section.intro
    .content
        h1.main-title Make <a href="" class="typewrite" data-period="2000" data-type='["landing pages", "wedding cards"]'> <span class="wrap"></span> </a> that you love.

#about
    section
        .content
            h2 Dum Spiro Spero
            p Hi, we are designers / developers based in Sarawak &#10084; 
            p We are passionate about web and design. We believe in making design that you will love!
            p So, let us make it for you.

#what
    section.gold
        .content
            h1 what we do
            .short
                h2 Design
                p We like to keep it simple and elegant, but we're open to your ideas and opinions too!
            
            .short
                h2 Develop
                p We create websites that runs across devices and platforms. 

#contact
    section
        .content
            h2 Contact us
            h3 <a href="mailto:makersmakethis@gmail.com">makersmakethis@gmail.com</a> // <a href="https://twitter.com/makers_my" target="_blank">@makers_my</a>